*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 20vw;
    background-image: url('thunderstorm.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}