*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#fullscreen-video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.content{
    width: 100%;
    position: absolute;
    bottom: 20vh;
    left: 0;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
@media (min-width:768px){
    .content{
        width: 75%;
    }
}
@media (min-width:1024px){
    .content{
        width: 50%;
    }
}