*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.loading-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
}
.loading{
    width: 100px;
    height: 100px;
    border: 10px solid darkblue;
    border-bottom: 0;
    border-left: 0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}