*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
main{
    margin-top: 60px;
    padding: 10px;
}
main>h1{
    font-size: 2.5rem;
}
main>h3{
    font-size: 2.1rem;
}
main>p{
    font-size: 2rem;
}
.container-progress{
    height: 5px;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: black;
}
.progress-bar{
    width: 0;
    background-color: red;
    height: 100%;
}