body{
    text-align: center;
}
.container{
    display: inline-block;
    height: 150px;
    width: 150px;
    cursor: pointer;
    /* background-color: red; */
}
.bar1, .bar2, .bar3{
    width: inherit;
    height: 20%;
    background-color: #333;
    transition: 0.4s;
}
.bar1{
    transform:translate(0%,0%);
}
.bar2{
    transform:translate(0%,100%);
}
.bar3{
    transform: translate(0%,200%);
}

.change .bar1{
    transform:translate(0%,200%) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform:translate(0%,0%) rotate(45deg);
}