*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.scrollmenu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}
.scrollmenu a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px;
    font-size: 1.5rem;
}
.scrollmenu a:hover{
    background-color: #777;
}
/* .scrollmenu::-webkit-scrollbar{
    background-color: #777;
} */