*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.typewriter-text{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    color: darkblue;
    text-align: center;
}
@media (min-width:768px){
    html{
        font-size: 25px;
    }
}
@media (min-width:1024px){
    html{
        font-size: 30px;
    }
}
@media (min-width:1200px){
    html{
        font-size: 35px;
    }
}